<main>
  <app-nav></app-nav>
  <app-search-bar></app-search-bar>
  <app-tweet-container></app-tweet-container>
  
<!--   
  <comp-with-search-input></comp-with-search-input>
  <comp-with-grid></comp-with-grid>
  <comp-with-selected-tweet></comp-with-selected-tweet>
  <footer?></footer> -->

<!--   <ngx-datatable class="dark"
      [rows]="rows"
      [columns]="columns">
  </ngx-datatable> -->

</main>

  <!-- <div>
      <button (click)="getTweets()">Get Tweets</button>
    </div>
    <div *ngFor="let tweet of tweets">
        <span ng-repeat="(property, value) in tweet">{{property}} : {{value}}</span>   
      <span>{{tweet.id}} - {{tweet.text}}</span>
    </div>-->
<!-- 
<div id="bg">
  <header>
    <a href="#">Test Logo</a>
  </header>

  <main>
    <section id="card">
      <ul>
        <li>
          <span></span>
          <strong>Test 1</strong>
        </li>
        <li>
            <span></span>
            <strong>Test 2</strong>
          </li>
          <li>
              <span></span>
              <strong>Test 3</strong>
          </li>
      </ul>
    </section>
  
    <section id="primary">
      <h1>Test Heading</h1>
      <p>Sub-heading text</p>
  
      <a href="#">Dummy Href</a>
    </section>
  </main>
</div> -->
<section>
  <router-outlet></router-outlet>    
</section>