div.form-inline{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

    input{       
        width: 75%;
    }  

    button{
        margin-left:5px;
    }
}